server:
  port: ${PORT:8080}

spring:
  application:
    name: api_equipo

  datasource:
    # Si Railway te da una URL la usa, si no, usa localhost
    url: ${SPRING_DATASOURCE_URL:jdbc:mysql://localhost:3306/railway}
    username: ${SPRING_DATASOURCE_USERNAME:root}
    password: ${SPRING_DATASOURCE_PASSWORD:bXQPUQZEeNBgqHKEpNmAtKbkTDbhlzZJ}
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect